.WeatherTextInfo {
    background: url(../../assets/img/maxresdefault.jpg) no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 30px;
    text-align: center;
    color: #fff;
}
.WeatherTextInfo h2 {
    color: #fff;
    font-size: 20px;
    margin: 0 0 10px;
}
.WeatherTextInfo p {
    margin: 0 0 10px;
}
.WeatherTextInfoTempMain {
    font-size: 68px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}
.WeatherTextInfoTempMain img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}
.WeatherTextInfoItem {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.WeatherTextInfoItem p {
    width: 50%;
}