.WeatherSearch {
    padding: 20px 40px;
    background: #2196f3;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}
.WeatherSearch form {
    display: flex;
    justify-content: space-between;
}
.WeatherSearch input {
    width: 75%;
    height: 40px;
    line-height: 40px;
    font: inherit;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 5px;
    padding: 0 20px;
    color: #ffffff;
    font-weight: 700;
}
.WeatherSearch input:hover,
.WeatherSearch input:active {
    background: rgba(255, 255, 255, 0.5);
}

::placeholder {
    color: #ffffff;
    opacity: 1;
    font-weight: 700;
}
.WeatherSearch button {
    width: 23%;
    color: rgba(0, 0, 0, 0.87);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 3px 1px -2px rgba(0,0,0,0.12);
    background-color: #e0e0e0;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
}
.WeatherSearch button:hover {
    background-color: #d5d5d5;
}