.WeatherChart {
    padding: 20px;
}
.ct-label.ct-horizontal.ct-end,
.ct-label.ct-vertical.ct-start {
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
}
.ct-label.ct-horizontal.ct-end {
    margin-top: 10px;
}
.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
    stroke: #ff9028;
}